/ .blk-desktop-12
.fc-container
	#featured-content
		=# image_tag "header_Logo.png", :alt => "Image for Gallery", :id => "image-n"
		- @images.each_with_index do |x,y|
			= image_tag "#{x}", :id => "image-#{y}"
#fc-nav
	%ul
		-@images.each_index do |n|
			%li 
				%a{:href => "#image-#{n}"}= "#{n}"
		%button.btn-small.fc-prev <
		%button.btn-small.fc-next >
.blk-desktop-8.blk-desktop-offset-2.blk-phone-12
	= content_tag_for :article, post do 
		.blk-desktop-10.blk-tablet-6.blk-phone-12.blog-container
			%header.center.blog-title
				%h1= link_to post.title, post
				%br/
				.meta
					Posted on
					%time{:pubdate => 'true', :datetime => post.timestamp.iso8601}
						= post.date.strftime '%e %B %Y'
					%span
						by
						= post.author
			- if summary
				= post_summary_html post
				%p.more= link_to 'Read more&hellip;'.html_safe, post
			- else
				~ post_content_html post