- @title = "Portfolio"
.blk-12
	%h1= @title
	.grid-box.gb-style-1
		/ %h2 Posters & Wallpapers
		%ul
			- images = ["batman","superman","flash","brainiac"].each do |i|
				%li
					%figure
						%a.lb-trigger{:href => "images/phone_wallpapers/#{i}.jpg"}
							= image_tag "thumbnail.jpg", :alt => "#{i}"
						%figcaption 
							%h3= "#{i}"
							/ %a.lb-trigger{:href => "images/phone_wallpapers/#{i}.jpg"}
							%span by Darren Sorrels
			- posters = ["Observations","Regeneration_Poster","almost_maine_poster","art_of_murder","worldview_lecture","TLOZ_type"].each do |p|
				%li
					%figure
						%a.lb-trigger{:href => "images/posters/#{p}.jpg"} 
							= image_tag "thumbnail.jpg", :alt => "#{p}"
						%figcaption 
							%h3= "#{p}"
							/ %a.lb-trigger{:href => "images/posters/#{p}.jpg"} 
							%span by Darren Sorrels
			- books = ["Great_expectations_Cover","moby_dick_cover"].each do |b|
				%li
					%figure
						%a.lb-trigger{:href => "images/posters/#{b}.jpg"}
							= image_tag "thumbnail.jpg", :alt => "#{b}"
						%figcaption 
							%h3= "#{b}"
							/ %a.lb-trigger{:href => "images/posters/#{b}.jpg"}
							%span by Darren Sorrels
			/ %h2 Logos
			- logos = ["Flyte_1", "Flyte_2", "Flyte_3","purls&knit_color_logo","purls&knit_blk_white_logo","purls&knit_label","blk_epiphany"].each do |l|
				%li
					%figure							
						%a.lb-trigger{:href => "images/Logos/#{l}.jpg"} 
							= image_tag "thumbnail.jpg", :alt => "#{l}"
						%figcaption 
							%h3= "#{l}"
							/ %a.lb-trigger{:href => "images/Logos/#{l}.jpg"} 
							%span by Darren Sorrels
			/ %h2 Illustrations
			- illustration = ["FOTC_Germaine","starfox_1"].each do |d|
				%li
					%figure 
						%a.lb-trigger{:href => "images/illustration/#{d}.jpg"}
							= image_tag "thumbnail.jpg", :alt => "#{d}"
						%figcaption 
							%h3= "#{d}"
							/ %a.lb-trigger{:href => "images/illustration/#{d}.jpg"}
							%span by Darren Sorrels
			/ %h2 Web Design
			- websites = ["thumbnail"].each do |w|
				%li
					%figure 
						%a.lb-trigger{:href => "images/web_design/#{w}.jpg"} 
							= image_tag "thumbnail.jpg", :alt => "#{w}"
						%figcaption 
							%h3= "#{w}"
							/ %a.lb-trigger{:href => "images/web_design/#{w}.jpg"}
							%span by Darren Sorrels
