.grid-box.gb-style-1
  %ul
    - @images.each_with_index do |i, idx|
      %li
        %figure
          = link_to(image_tag("#{i}", :alt => "#{i}".sub(/^[^\/]+\//,"")), 
            asset_path("#{i}"), :class => "lb-trigger")
          %figcaption
            %h3= @imageName[idx]
            %span by Darren Sorrels