.blk-lgDesktop-12
  .grid-box.gb-style-1
    %ul
      - @images.each do |i|
        %li
          %figure
            = link_to(image_tag("#{i}", :alt => "#{i}".sub(/^[^\/]+\//,"")), 
              asset_path("#{i}"), :class => "lb-trigger")
            %figcaption
              %h3= "#{i}".sub(/^[^\/]+\//,"")
              %span by Darren Sorrels
              