- author_name = 'Test author'
= def make_portfolio($image_name)
	%li 
		%figure 
			%a= image_path "#{image-name}"
				=image_tag "#{image-name}"
			span= author_name 
end

.blk-desktop-8.blk-desktop-offset-2.blk-phone-12
	= content_tag_for :article, post do 
		.blk-desktop-10.blk-tablet-6.blk-phone-12.blog-container
			%header.center.blog-title
				%h1= link_to post.title, post
				%br/
				.meta
					Posted on
					%time{:pubdate => 'true', :datetime => post.timestamp.iso8601}
						= post.date.strftime '%e %B %Y'
					%span
						by
						= post.author
			- if summary
				= post_summary_html post
				%p.more= link_to 'Read more&hellip;'.html_safe, post
			- else
				~ post_content_html post