!!! 5
%html
	- @header = "Demo"
	= partial '_header.haml'
	= partial '_navigation.haml'
	%body 
		.container
			.slab
				.blk-3
					%nav.nav-vrt
						%ul 
							- (1..4).each do |x|
								%li>
									%a{:href=>"#"}= x
					%nav.nav-hrz
						%ul 
							- (1..4).each do |x|
								%li>
									%a{:href=>"#"}= x
				%form.blk-6
					.frm-block
						%label.frm-title.frm-control Label Text
						%input.input-small{:type=>"text", :placeholder=>"Placeholder text here"}
						%label.frm-title.frm-control Label Text
						%input.input-medium{:type => "text", :placeholder=>"Placeholder text here"}
						%label.frm-title.frm-control Label Text
						%input.input-large{:type => "text", :placeholder=>"Placeholder text here"}
						%br/ 
						%input.check{:type => "checkbox"}
						%label check Text
						%input.radio{:type => "radio"}/
						%label radio Text
						%br/ 
						%select.select-medium{:name => "select Medium"} 
							-(1..5).each do |n|
								%option{:value => "n"}=n 
						%select.select-large{:name => "select large"} 
							-(1..5).each do |n|
								%option{:value => "n"}=n 
						%select.select-large{:name => "select large"} 
							-(1..5).each do |n|
								%option{:value => "n"}=n
				.blk-3#buttons
					- {"btn xtiny" => "btn-xtiny","btn-tiny" => "btn-tiny","btn small" => "btn-small","btn-norm" => "btn-norm","btn large" => "btn-large","btn block" => "btn-block"}.each do |name, type|
						%button{:class => type}= name
					- {"btn xtiny" => "btn-xtiny success","btn-tiny" => "btn-tiny error","btn small" => "btn-small proceed","btn-norm" => "btn-norm close","btn large" => "btn-large ","btn block" => "btn-block"}.each do |color, button|
						%button{:class => button}= color
				.blk-8
					%table.table.table-bordered
						%caption="Table" + @header
						%thead
							%tr
								-5.times do
									%th header
						%tbody
							- 5.times do
								%tr
									- 5.times do
										%td data
					%ul.pagination
						%li
							%a{:href => "#"} &laquo
						- (1..5).each do |p|
							%li
								%a{:href => "#{p}"}= p
						%li 
							%a{:href => "#"} &raquo
				.tabBox.blk-4
					-(1..4).each do |t|
						%section{:id =>"tab#{t}"}
							%a{:href => "#tab#{t}"}= t 
							%div content goes here.

				.blk-3
					- {"info" => "alert-info","warning" => "alert-warning","error" => "alert-error","success" => "alert-success" }.each do |title, alert|
						%div{:class => alert}
							%h3= title
							%p stuff written here
				.blk-5
					.accordion.horizontal
						-(1..5).each do |h|
							%section{:id => "section-#{h}" }
								%h2 
									%a{:href => "#section-#{h}"} Look Inside Me!
								%p This is a test sentence. Can you see what the words say on the page
				.blk-4
					.accordion.vertical
						-(6..10).each do |v|
							%section{:id => "section-#{v}" }
								%h2 
									%a{:href => "#section-#{v}"} Look Inside Me!
								%p This is a test sentence. Can you see what the words say on the page
				.blk-3
					.md-body
						%section 
							%h3 Modal Title heading
							.md-format
								%label.frm-title{:for => ""}
								%input.input-medium{:type=>"text", :placeholder=>"Placeholder text here"}
								%button.btn-norm Proceed
								.load-bar2
									%span Loading
				.blk-12
					- {"load-info"=>"load-bar2","load-warning" => "load-warning","load-error" => "load-error" ,"load-success" => "load-success" }.each do |bartype, loading|
						%div{:class => loading}
							%span 
								loading
								- bartype
				.blk-7
					#brickContainer
						- {"brickTop" => "brickTop" , "brickLeft" => "brickLeft" ,"brickRight" => "brickRight" }.each do |brickSide, brickName|
							%div{:class=> brickSide}
								- brickName
						%ul.dots
							- {"topLeft" => "topLeft", "topRight" => "topRight" , "bottomLeft" => "bottomLeft" ,"bottomRight" => "bottomRight" }.each do |dots, dotName|
								%li{:class=> dots}
									- dotName
	= partial '_footer.haml'