.page-header
  %h1 Portfolio
.container
  #portfolioContainer
    .grid-wrapper
      - @portfolios.each do |portfolio|
        .grid-item
          %figure.port-image-preview
            = image_tag portfolio.image.url
          %h2.portfolio-title
            = link_to portfolio.title, portfolio
          %p.portfolio-date
            = portfolio.created_at.strftime('%A, %B %d')

    .custom_pagination
      = will_paginate @portfolios

- if user_signed_in?
  %header
    %h3.txt-center 
      Admin Controls
  .slab
    %ul.admin-controls
      %li
        = link_to "Create New Project", new_portfolio_path, :class => "admin-button"