.slab
  %header.portfolio-header
    %h2.portfolio-title
      = @portfolio.title
  %figure.portfolio-img-container
    = image_tag @portfolio.image.url , :class => "portfolio-img"
    
  .portfolio-content
    %ul.portfolio-list
      %li.port-list-item
        %label.port-label
          Tools Used:
        %span= @portfolio.medium
      %li.port-list-item
        %label.port-label
          Industry:
        %span= @portfolio.industry
      %li.port-list-item
        %label.port-label
          Role:
        %span= @portfolio.services

    .markdown-body 
      = markdown @portfolio.description
    %hr/

%ul.portfolio-button-container
  - if @portfolio.link
    %li
      = link_to (@portfolio.title) + " Screens", @portfolio.link, :target => "_blank", :class => "portfolio-button"
    %li
      = link_to "Back to portfolio", portfolios_path, :class => "portfolio-button"
  - else
    %li
      = link_to "Back to portfolio", portfolios_path, :class => "portfolio-button"

- if user_signed_in?
  %header
    %h3.txt-center 
      Admin Controls
  .slab
    %ul.admin-controls
      %li
        =link_to "Edit Project" , edit_portfolio_path(@portfolio) , :class => "admin-button" 
      %li
        =link_to "Delete Project" , portfolio_path(@portfolio) , method: :delete, data: { confirm: "Are you sure?"} ,:class => "admin-button"
