.container-fixed
  .slab
    %header
      %h2.portfolio-title
        = @portfolio.title
      %h4.portfolio-date
        = @portfolio.created_at.strftime('%A, %B %d')
  .slab
    .portfolio-content
      %figure.portfolio-img-container
        = image_tag @portfolio.image.url , :class => "portfolio-img"
      
      %ul.portfolio-list
        %li.port-list-item
          %label.port-label
            Medium:
          %span
            = @portfolio.medium

        %li.port-list-item
          %label.port-label
            Industry:
          %span
            = @portfolio.industry

        %li.port-list-item
          %label.port-label
            Services:
          %span
            = @portfolio.services
        %li.port-list-item
          %label.port-label
            Offerings:
          %span
            = @portfolio.offerings

      = markdown @portfolio.description
      %hr/

%ul.portfolio-button-container
  - if @portfolio.link
    %li
      = link_to "View: " + (@portfolio.title), @portfolio.link, :target => "_blank", :class => "portfolio-button"
    %li
      = link_to "Back to portfolio", portfolios_path, :class => "portfolio-button"
  - else
    %li
      = link_to "Back to portfolio", portfolios_path, :class => "portfolio-button"

- if user_signed_in?
  %header
    %h3 Admin Controls
  .slab
    %ul.admin-controls
      %li
        =link_to "Edit Project" , edit_portfolio_path(@portfolio) , :class => "admin-button" 
      %li
        =link_to "Delete Project" , portfolio_path(@portfolio) , method: :delete, data: { confirm: "Are you sure?"} ,:class => "admin-button"
