%header.portfolio-header
  %h2.portfolio-title
    = @project.title
%figure.portfolio-img-container
  = image_tag @project.image.url, :class => "portfolio-img", :alt => "Image Header Here"

.portfolio-content
  .markdown-body= @project.body.html_safe

%header.portfolio-header
  %h3 Related Projects

.grid-wrapper
  - @projects.each do |project|
    .grid-item
      %figure.port-image-preview
        = image_tag project.image.url, :class=> "img-responsive"
      %h2.portfolio-title
        = link_to project.title, project