<div class="page-header">
  <h2>Log in</h2>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-container"}) do |f| %>
  <div class="field frm-group blk-lg-4">
    <%= f.label :email ,:class => "frm-title" %>
    <%= f.email_field :email, autofocus: true, :class => "frm-control"%>
  </div>

  <div class="field frm-group blk-lg-4">
    <%= f.label :password ,:class => "frm-title" %>
    <%= f.password_field :password, autocomplete: "off", :class => "frm-control"%>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="frm-group blk-lg-4 field">  
      <div class="checkbox">
        <label for="Remember_me">
          <%= f.check_box :remember_me %>
          Remember me
        </label>
      </div>
    </div>
  <% end -%>

  <div class="actions frm-group blk-lg-4">
    <%= f.submit "Log in", :class => "form-button" %>
  </div>
<% end %>

<!-- <%= render "devise/shared/links" %> -->  

