=if flash.alert
	.alert-error
		%h3 
			Error
		%p
			= flash.alert
=if flash.notice
	.alert-success
		%h3 
			Success
		%p 
			= flash.notice

= form_for  @message, :url => contact_path, :class=>"contactForm", :id => "contactMe" do |form|
	.frm-group
		= form.label :name, :class => "frm-title"
		= form.text_field :name, :class => "frm-control"
	.frm-group
		= form.label :email, :class => "frm-title"
		= form.text_field :email, :class => "frm-control"
	.frm-group
		= form.label :message, :class => "frm-title"
		= form.text_field :subject, :class => "frm-control"
	.frm-group
		= form.label :body, :class => "frm-title"
		= form.text_area :body, :class => "frm-control", :placeholder => "Message me"
	.frm-group
		= form.submit "send", :class => "btn-block"