=if flash.alert
	.alert-error
		%h3 
			Error
		%p
			= flash.alert
=if flash.notice
	.alert-success
		%h3 
			Success
		%p 
			= flash.notice
= form_for  @message,:url => contact_path, :id => "contactMe" do |form|
	= form.label :name, :class => "frm-title frm-control"
	= form.text_field :name, :class => "frm-control"

	= form.label :email, :class => "frm-title frm-control"
	= form.text_field :email, :class => "frm-control"

	= form.label :message, :class => "frm-title frm-control"
	= form.text_field :subject, :class => "frm-control"

	= form.label :body, :class => "frm-title frm-control"
	= form.text_area :body, :class => "frm-control", :placeholder => "Message me"

	= form.submit "send", :class => "btn-block"