%head
	%title= title
	%meta{:charset => "utf-8" }
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}/ 
	= include_gon
	= stylesheet_link_tag 'application', media: "all", "data-turbolinks-track" => true
	= javascript_include_tag 'application', media:  "all", "data-turbolinks-track" => true
	= csrf_meta_tags
%header.header
	.logo
		%a{:href => "/"}
			=image_tag "logo.png", alt: "Darren Sorrels Graphic Designer"
			%h2 Darren Sorrels Graphic Designer
	= render partial: "layouts/partials/navigation"