<p id="notice"><%= notice %></p>

<p>
  <strong>Image name:</strong>
  <%= @image.image_name %>
</p>

<p>
  <strong>Filepath:</strong>
  <%= @image.filepath %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
