%head
	%title= title
	%meta{:charset => "utf-8" }
	= stylesheet_link_tag 'application', media: => "all"; "data-turbolinks-track" => true
	= javascrip_include_tag 'application', media: => "all"; "data-turbolinks-track" => true
	-#= javascript_include_tag "jquery-1.11.0.min", "data-turbolinks-track" => true
	-#= javascript_include_tag "DBDlightbox", "data-turbolinks-track" => true
	= csrf_meta_tags
%header.header
	%a{:href => "home"}
		%h1.logo.hide-words.text-center
			Darren Sorrels Graphic & Web Designer
	= render :partial => "layouts/navigation"