!!! 5
%html
	= render :partial => "layouts/partials/header"
	%body.site
		%header
			.slab	
				= render partial: "layouts/partials/navigation"
		%main.site-content
			.slab
				.container.white-bg
					- if notice
						%p.notice.txt-center
							= notice
					- elsif alert
						%p.notice.txt-center
							= alert
					= yield
		= render :partial => "layouts/partials/footer"