!!! 5
%html
	= render :partial => "layouts/partials/header"
	%body.site
		%header
			.slab	
				= render partial: "layouts/partials/navigation"
				= render partial: "layouts/partials/alerts"
		%main.site-content
			= yield
		= render :partial => "layouts/partials/footer"